[OSEv3:children]
masters
nodes
etcd
glusterfs
glusterfs_registry
lb

[OSEv3:vars]
openshift_deployment_type=openshift-enterprise
ansible_ssh_user=root
openshift_release=v3.11
openshift_router_selector='node-role.kubernetes.io/infra=true'
openshift_enable_service_catalog=true
os_firewall_use_firewalld=True
containerized=false
openshift_master_api_port=443
openshift_master_console_port=443
openshift_master_cluster_method=native

# Deploy Operator Lifecycle Manager Tech Preview
openshift_enable_olm=true
openshift_additional_registry_credentials=[{'host':'registry.connect.redhat.com','user':'<your_user_name>','password':'<your_password>','test_image':'mongodb/enterprise-operator:0.3.2'}]

#Node groups
openshift_node_groups=[{'name': 'node-config-master', 'labels': ['node-role.kubernetes.io/master=true']}, {'name': 'node-config-infra', 'labels': ['node-role.kubernetes.io/infra=true']}, {'name': 'node-config-compute', 'labels': ['node-role.kubernetes.io/compute=true']}, {'name': 'node-config-compute-storage', 'labels': ['node-role.kubernetes.io/compute-storage=true']}]


#storage
dynamic_volumes_check=False
openshift_storage_glusterfs_heketi_is_native=True
openshift_storage_glusterfs_is_native=True
openshift_storage_glusterfs_registry_is_native=True


#Authorization Provider
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider'}]
#Password = admin
openshift_master_htpasswd_users={'developer': '$apr1$ufo89ihj$nFOwhxNeRYY7QhMMeOchZ1', 'admin':'$apr1$ufo89ihj$nFOwhxNeRYY7QhMMeOchZ1'}

#CRI-O Variables
openshift_crio_use_rpm=True
openshift_use_crio=True
openshift_crio_enable_docker_gc=True

openshift_master_default_subdomain=<YOUR_SUBDOMAIN>
openshift_master_cluster_hostname=<YOUR CONSOLE HOST>
openshift_master_cluster_public_hostname=<YOUR PUBLIC CONSOLE HOST>
openshift_disable_check=disk_availability,memory_availability

#OPENSHIFT Default Registry Variables
osm_default_node_selector='node-role.kubernetes.io/compute=true'
oreg_url=registry.access.redhat.com/openshift3/ose-${component}:${version}
#openshift_storage_glusterfs_heketi_image=registry.access.redhat.com/rhgs3/rhgs-volmanager-rhel7
#openshift_storage_glusterfs_image=registry.access.redhat.com/rhgs3/rhgs-server-rhel7
#openshift_storage_glusterfs_block_image=registry.access.redhat.com/rhgs3/rhgs-gluster-block-prov-rhel7
#openshift_storage_glusterfs_s3_image=registry.access.redhat.com/rhgs3/rhgs-gluster-s3-server-rhel7
openshift_examples_modify_imagestreams=true

#registry
openshift_hosted_registry_selector='node-role.kubernetes.io/infra=true'
openshift_hosted_registry_replicas=3
openshift_hosted_registry_storage_volume_size=15Gi
openshift_hosted_registry_storage_kind=glusterfs

#CNS for apps
openshift_storage_glusterfs_namespace=app-storage
openshift_storage_glusterfs_block_deploy=false

# CNS storage for OpenShift infrastructure
openshift_storage_glusterfs_registry_namespace=infra-storage  
openshift_storage_glusterfs_registry_storageclass=false       
openshift_storage_glusterfs_registry_block_deploy=true   
openshift_storage_glusterfs_registry_block_host_vol_create=true    
openshift_storage_glusterfs_registry_block_host_vol_size=20   
openshift_storage_glusterfs_registry_block_storageclass=true
openshift_storage_glusterfs_registry_block_storageclass_default=true
openshift_storageclass_default=false

[masters]
{% for host in groups['openshift_master_hosts'] %}
{{ hostvars[host].instance_name }}
{% endfor %}

[nodes]
{% for host in groups['openshift_master_hosts'] %}
{{ hostvars[host].instance_name }} openshift_node_group_name='node-config-master'
{% endfor %}
{% for host in groups['openshift_infra_hosts'] %}
{{ hostvars[host].instance_name }} openshift_node_group_name='node-config-infra'
{% endfor %}
{% for host in groups['openshift_node_hosts'] %}
{{ hostvars[host].instance_name }} openshift_node_group_name='node-config-compute'
{% endfor %}
{% for host in groups['openshift_storage_hosts'] %}
{{ hostvars[host].instance_name }} openshift_node_group_name='node-config-compute-storage'
{% endfor %}

[etcd]
{% for host in groups['openshift_master_hosts'] %}
{{ hostvars[host].instance_name }}
{% endfor %}

[glusterfs]
{% for host in groups['openshift_storage_hosts'] %}
{{ hostvars[host].instance_name }} glusterfs_devices='["/dev/sdc"]'
{% endfor %}

[glusterfs_registry]
{% for host in groups['openshift_storage_hosts'] %}
{{ hostvars[host].instance_name }} glusterfs_devices='["/dev/sdc"]'
{% endfor %}

[lb]
{% for host in groups['openshift_master_lb_hosts'] %}
{{ hostvars[host].instance_name }}
{% endfor %}
